@import "tailwindcss";

@layer base {
    @font-face {
        font-family: "Manrope";
        src: url("./fonts/manrope.ttf") format("truetype");
    }

    body {
        font-family: "Manrope", serif;
        @apply text-xl font-medium tracking-tighter;
    }

    h1, .h1 {
        @apply text-[4.2rem] md:text-[11vw] leading-none m-0 p-0 font-medium tracking-tighter;
    }

    h2, .h2 {
        @apply text-4xl md:text-2xl lg:text-[2vw] leading-[120%] m-0 p-0 tracking-tighter;
    }

    .icon-dot {
        @apply w-[0.75rem] h-[0.75rem];
    }

    #clip-transition {
        clip-path: inset(0 0% 0 0%);
    }
}
